<!DOCTYPE html>
<html>
  <head>
    <title>Pixtagram</title>
    <link rel="icon" type="image/x-icon" href="<%= image_url('camera-logo.png') %>">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.cameraURL = "<%= image_url('camera-logo.png') %>"
      window.heartURL = "<%= image_url('heart-icon.png') %>"
      window.profileURL = "<%= image_url('profile-icon.png') %>"
      window.locationURL = "<%= image_url('location-icon.png') %>"
      window.commentURL = "<%= image_url('comment-icon.png') %>"
      window.bookmarkURL = "<%= image_url('bookmark-icon.png') %>"
      window.deleteIconURL = "<%= image_url('delete-icon.png') %>"
      window.likedURL = "<%= image_url('liked.png') %>"
      window.bookmarkedURL = "<%= image_url('bookmarked.png') %>"
      window.uploadURL = "<%= image_url('upload-icon.png') %>"
      window.whiteHeartURL = "<%= image_url('white-heart.png') %>"
      window.bigWhiteHeartURL = "<%= image_url('white-heart-big.png') %>"
      window.whiteCommentURL = "<%= image_url('white-comment.png') %>"
      window.defaultProfilePicURL = "<%= image_url('default_profile_pic.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
